@import "tailwindcss";

/* Variáveis Globais */
:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --background: #f8f9fa;
  --foreground: #212529;
  --primary-color: #303940;

  --secondary-color: #ffffff;
  --accent-color: #fd314d;
  --muted-color: #6c757d;
  --dark-muted-color: #495057;
  --border-color: #ced4da;

  --button-color-primary: #ce1c5a;
  --button-color-secondary: #ffffff;

  --size-12: 12px;
  --size-2: 2px;
  --size-6: 6px;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #f8f9fa;
  }
}

/* Estilos Globais */
body {
  color: var(--foreground);
  background: linear-gradient(
    90deg,
    rgba(206, 28, 90, 0.5) 0%,
    rgba(253, 49, 77, 0.5) 100%
  );
  font-family: var(--font-sans), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografia */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Heading", sans-serif;
}

/* Classes de Texto */
.text-primary-color {
  color: var(--primary-color);
}

.text-muted-color {
  color: var(--muted-color);
}

.text-title-color {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

/* Botões */
.button-primary-color,
.button-secondary-color {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;

  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: var(--font-sans), sans-serif;
}

.button-primary-color {
  background-color: var(--button-color-primary);
  color: var(--secondary-color);
  border: none;
}

.button-secondary-color {
  background-color: var(--button-color-secondary);
  color: var(--button-color-primary);
  border: 1.5px solid var(--button-color-primary);
}

/* Media Queries para Responsividade */
@media (max-width: 1024px) {
  .text-title-color {
    margin-bottom: 0.75rem;
  }

  .button-primary-color,
  .button-secondary-color {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  body {
    padding: 2rem 2rem 1rem 3rem;
    margin-top: -2rem;

    background: linear-gradient(
      90deg,
      rgba(206, 28, 90, 0.6) 0%,
      rgba(253, 49, 77, 0.6) 100%
    );
  }

  .text-title-color {
    text-align: center;
  }

  .button-primary-color,
  .button-secondary-color {
    width: 50%;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .text-title-color {
    font-size: 1.25rem;
  }

  .button-primary-color,
  .button-secondary-color {
    font-size: 0.8rem;
  }
}
@media (min-width: 1024px) {
  form {
    max-width: 900px;
    min-width: 800px;
    padding: 3rem;
  }
}
